<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
				 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="/styles/cadastro_cliente.css">
</head>
<body>
    <div class="header" id="header">
        <div style="position: relative;" class="logo_header">
            <a th:href="@{tela_inicial}" class="navigation_header"> <img src="/images/brain.png" class="img_brain" alt="Logo BrainWave"></a>
        </div>
    
        <div class="navigation_header" style="height: 100%;">
            <form action="Servicos_previa" method="get" style="height: 100%;display: flex;align-items: center;">
       	 	<button class="butaoCabecalho"> <a class="navigation_header">voltar</a> </button>
        	</form>
        	<form action="login" method="get" style="height: 100%;display: flex;align-items: center;">
       		<button class="butaoCabecalho"><a class="navigation_header">Sair</a></button>
       	 	</form>
        </div>
</div>

    <div class="container" style="display: flex;
    flex-direction: column;">
        <div class="titulo">
            <h1 class="txt1">Cadastro</h1>
            <h1 class="txt2">Servico</h1>
        </div>
		
		<form th:action="@{/api/v1/CadastroServico}"  th:object="${servicoForm}" method="post" enctype="multipart/form-data">
            <div class="credenciais">
                <div class="lado1">
                    
                    <input type="number" id="id" name="id" th:field="*{id}"  value="1"  placeholder="Nome de usuário" style="display: none;" required>

                    <input type="text" id="NomeDeServico" name="NomeDeServico" th:field="*{nomeDoEquipamento}" placeholder="Nome de serviço" class="campoDeFormulario" required><br>
                    
                   
                    <input type="date" id="DataDeEmissao" name="DataDeEmissao" th:field="*{dataDeEmissao}" placeholder="Data de Emissão" class="campoDeFormulario" required><br>

                    <input type="number" id="estadoServico" name="estadoServico" th:field="*{estadoServico}"  value="1"  placeholder="Nome de usuário" style="display: none;" required>

                 
                </div>

                <div class="lado2">
                             
                    <select id="funcionarioId" name="funcionarioId" th:field="*{funcionarioId}"  class="campoDeFormulario" style="width: 440px;">
                      <option value="">Selecione um funcionário</option>
                      <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
                    </select><br>
                    

                    <select id="clienteId" name="clienteId" th:field="*{clienteId}"  class="campoDeFormulario" style="width: 440px;">
                        <option value="">Selecione um Cliente</option>
                        <option th:each="Cliente : ${clientes}" th:value="${Cliente.id}" th:text="${Cliente.nome}"></option>
                    </select><br>


                      
                    
                </div>
              
            </div>
            <div style="display: flex;
           justify-content: space-evenly;flex-direction: column;align-items: center;">
                <textarea id="DescricaoDoProblema" name="DescricaoDoProblema" th:field="*{descricaoDoProblema}" placeholder="Descrição" class="alinhaDescricao campoDeFormulario" required rows="6" cols="75" ></textarea><br>

                <div class="file-upload" id="AreaImg">
                    <label for="imagem" class="file-label">
                        <span style="width: 300px;height: 30px">Arraste a imagem ou clique aqui</span>
                    </label>
                    <input type="file" id="imagem" name="imagem" accept="image/*" onchange="showFileName(this)" class="file-input">
                  
                </div>
                <div id="preview">
                    <img id="preview-image" src="#" alt="Imagem de visualização" style="display: none;margin-right: 10%;">
                    <div id="remover-imagem" class="remove-symbol" style="display: none;">X</div>
                </div>
            
                
                


            </div>
 

                <div class="div_botao">
                    <button type="submit" class="button">Cadastrar</button>
                </div>
        </form>     
    </div>

<script>

function showFileName(input) {
    const label = document.querySelector('label[for="Imagem"]');
    const previewImage = document.getElementById('preview-image');
    const AreaInseriImage = document.getElementById('AreaImg')
    const ApagarImagem = document.getElementById('remover-imagem')
    const inputImagem = document.getElementById('imagem');
    console.log(inputImagem.value);

    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            previewImage.src = e.target.result;
           
            previewImage.style.display = 'block';
            ApagarImagem.style.display = 'block';
            AreaInseriImage.style.display = 'none';
            
        };

        reader.readAsDataURL(input.files[0]);
       
    } else {
        label.textContent = 'Arraste uma imagem ou clique aqui para fazer upload';
        previewImage.style.display = 'none';

    }
}

// Função para remover a imagem e redefinir o input de arquivo
function removerImagem() {
    const previewImage = document.getElementById('preview-image');
    const AreaInseriImage = document.getElementById('AreaImg');
    const inputImagem = document.getElementById('imagem');
    const ApagarImagem = document.getElementById('remover-imagem')

    previewImage.src = '';
    previewImage.style.display = 'none';
    AreaInseriImage.style.display = 'block';
    ApagarImagem.style.display = 'none';
    inputImagem.value = ''; // Limpar o valor do input de arquivo
}

// Associar a função ao botão de remoção
document.getElementById('remover-imagem').addEventListener('click', removerImagem);
const Imagem = document.getElementById('imagem');


// Encontre o elemento de entrada numérica pelo ID
var campoNumerico = document.getElementById("estadoServico");

// Defina o valor fixo desejado
var valorFixo = 1;

// Atribua o valor fixo ao campo de entrada numérica
campoNumerico.value = valorFixo;


</script>




</body>
</html>