<!DOCTYPE html>
<html lang="pt-br"> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="/styles/cadastro.css" rel="stylesheet" />

    <title></title>

</head>

<body>

    <div id="principal">

        <div id="left">
            <img src="/images/img-cadastro.jpeg" />
        </div>

        <div id="form">
            
            <div class="titulo">
                <h1>Cadastro</h1>
            </div>
       		<p th:if="${aviso}" th:text="${aviso}" style="color: red;"></p>
       		<p th:if="${cadastrado}" th:text="${cadastrado}" style="color: rgb(255, 128, 255);"></p>
          <form  th:action="@{/api/v1/CadastrarFuncionario}" th:object="${funcionario}" method="post">
            <input type="text" id="nome" name="nome" th:field="*{nome}" placeholder="Nome de usuário" required><br>
            <input type="email" id="email"  name="email" th:field="	*{email}" placeholder="E-mail/Nome de usuário" required><br>
            <input type="text" id="cpf" name="cpf" th:field="*{cpf}" placeholder="cpf" required><br>
            <input type="password" id="senha" name="senha" th:field="*{senha}" placeholder="Senha" required><br>
            <button type="submit" class="btn_cadastro">Cadastre-se</button>
          </form> 

            <br />
            <hr / style="width: 50%;">
            <br />

	      <label>Já tem uma conta?</label>
	      
	      <form action="login" method="get">
	          <button type="submit" class="btn_logar">Login</button>
		  </form>  
		  
        </div>
        
    </div>
    
</body>

</html>