<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
				 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="/styles/controleInformacoes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   

</head>
<body>
    <div class="header" id="header">
        <div style="position: relative;" class="logo_header">
            <a th:href="@{tela_inicial}" class="navigation_header"> <img src="/images/brain.png" class="img_brain" alt="Logo BrainWave"></a>
        </div>
    
        <div class="navigation_header" style="height: 100%;">
            <form action="telaCadastros" method="get" style="height: 100%;display: flex;align-items: center;">
       	 	<button class="butaoCabecalho"> <a class="navigation_header">voltar</a> </button>
        	</form>
        	<form action="login" method="get" style="height: 100%;display: flex;align-items: center;">
       		<button class="butaoCabecalho"><a class="navigation_header">Sair</a></button>
       	 	</form>
        </div>
</div>
    <div class="container">

        <!-- Página de Lista de Clientes (lista-clientes.html) -->
    <div  class="titulo">
        <div class="tamTitulo">
        <div class="caixa-de-pesquisa">
        
            <i class="icone-pesquisa">🔍</i>
            <input type="text" id="campoDeTexto" class="campo-de-texto" placeholder="Pesquisar...">
            
        </div>
        <a style="color: black;display: flex;align-items: center;border: none;text-decoration: none" th:href="@{CadastroServico}">
            <i class="fas fa-user-plus" style="font-size: 80px;"></i>
        </a>
       

        </div>
    </div>
 
    <div class="principal">
        <div class="divTable">        
            <table id="tabelaClientes">
                <thead>
                    <tr>
                        <th>Dispositivo</th>
                        <th>Descrição</th>  
                        <th>Funcionario </th>
                        <th>Editar/Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="servico : ${servicos}">
                        <td th:text="${servico.nomeDoEquipamento}" ></td>
                        <td th:text="${servico.descricaoDoProblema}" ></td>
                        <td th:text="${servico.nomeDoFuncionario}" ></td>
                        <td class="btnEdEx">

                                <!-- Símbolo de Edição (Lápis) -->
                            <button class="botaoAbrirMenu" th:id="${servico.id}" >
                                <i class="fas fa-pencil-alt tamIcone"></i>
                            </button>
                                
                                
                            
                            <form th:action="@{/api/v1/controleServico/{id}(id=${servico.id})}"  method="post">    
                                <button  type="submit" class="estiloBotao">
                                <i class="fas fa-times tamIcone"></i>
                                </button>
                            </form> 
                               
                            </form>    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
<!-- Botão para abrir o modal -->
<div id="myModal" class="modal">
    <div class="modal-content" id="modalEdit">
        <span class="close-button" id="closeModalButton">&times;</span>
        <div  class="modal-title"><p id="textEstado">   </p> </div>
        <form th:action="@{/api/v1/ControleServico}"  th:object="${servicoForm}" method="post" enctype="multipart/form-data">  
            <div class="input-area">
                    <div class="credenciais">
                        <div class="lado1">
                            
                            <input type="number" id="id" name="id" th:field="*{id}" placeholder="Nome de usuário" style="display: none;" required>

                            <p class="textUpadte">Nome do equipamento: </p>
                            <input type="text" id="editNomeDoEquipamento" name="nomeDoEquipamento" th:field="*{nomeDoEquipamento}"  placeholder="Nome de usuário" class="campoDeFormulario" required><br>
                            
                            <p class="textUpadte">Data de Emissão: </p>
                            <input type="date" id="editDataDeEmissao" name="dataDeEmissao" th:field="*{dataDeEmissao}"  placeholder="Nome de usuário" class="campoDeFormulario" required><br>
                            
                            <p id="textFinalizacao" class="textUpadte">Data de Finalizacão: </p>
                            <input type="date" id="editdataDeFinalizacao" name="dataDeFinalizacao" th:field="*{dataDeFinalizacao}"  placeholder="Nome de usuário" class="campoDeFormulario" ><br class="estado2">
                            
                           
                            <input type="number" id="editEstadoServico" name="estadoServico" th:field="*{estadoServico}" placeholder="Nome de usuário" style="display: none;" required>

                 
                        
                        </div> 
                        
                        <div class="lado2">
                            
                           
                            <p id="textValue" class="textUpadte">Valor do servico: </p>
                            <input type="text" id="editValorDoServico" name="valorDoServico"  th:field="*{valorDoServico}"  class="campoDeFormulario" ><br class="estado2">

                            <p class="textUpadte">Funcionario: </p>
                            <select id="editFuncionarioId" name="funcionarioId" th:field="*{funcionarioId}"  class="campoDeFormulario" style="width: 17.25vw;
                            height: 52px;
                            border: 1px solid #ccc;
                            border-radius: 5px;">
                                <option value="">Selecione um funcionário</option>
                                <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
                              </select><br>
                              


                              <p class="textUpadte">Cliente: </p>
                              <select id="editClienteId" name="clienteId" th:field="*{clienteId}"  class="campoDeFormulario" style="width: 17.25vw;
                              height: 52px;
                              border: 1px solid #ccc;
                              border-radius: 5px;
                          ">
                           
                                  <option value="">Selecione um Cliente</option>
                                  <option th:each="Cliente : ${clientes}" th:value="${Cliente.id}" th:text="${Cliente.nome}"></option>
                              </select><br>
                        

                    </div>
                
                
                </div>
                    <div class="credenciais" style="display: flex;
                    justify-content: space-between;">
                        <div style="width: 50%;
                        display: flex;
                        flex-direction: column;
                        margin-left: 5%;">
                        <p class="textUpadte">Descricão do Problema: </p>
                        <textarea id="editDescricaoDoProblema" name="DescricaoDoProblema" th:field="*{descricaoDoProblema}" placeholder="Descrição" class="alinhaDescricao campoDeFormulario" required rows="6" cols="75" style="height: 180px;
                        width: 13vw;" ></textarea>
                        <p class="textUpadte" id="textDescricao" style="display: none;">Descricão do Concerto: </p>
                         <textarea id="editDescricaoDoConcerto" name="editDescricaoDoConcerto" th:field="*{descricaoDaTroca}" placeholder="Descrição" class="alinhaDescricao campoDeFormulario" required rows="6" cols="75" style="height: 180px;
                        width: 13vw;display: none;"  ></textarea>
                        </div>

                        <div class="file-upload"  id="AreaImg" style="display: none;width: 50%;text-align:left">
                            <label for="imagem" class="file-label">
                                <span style="width: 300px;height: 30px">Arraste a imagem ou clique aqui</span>
                            </label>
                            <input type="file" id="imagem" name="imagem" th:field="*{imagem}" accept="image/*" onchange="showFileName(this)" class="file-input" style="width: 17vw;
                            height: 190px;">
                          
                        </div>

                        <div id="preview" style="width: 50%;display: flex;
                        align-items: center;">
                            <img id="preview-image" th:src="*{imagem}" alt="Imagem de visualização" style="margin-right: 10%;" width="300" height="200">
                            <div id="remover-imagem" class="remove-symbol" >X</div>
                        </div>
                    </div>
            </div>
            <div class="button-area">
                <button id="cancelButton" type="button">Cancelar</button>
                <button id="saveButton" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">

function estado(servicoEstado){

var estadoServico = document.getElementById("estadoServico");
var nomeDoEquipamento = document.getElementById("editNomeDoEquipamento")
var valorDoServico = document.getElementById("editValorDoServico")
var dataDeEmissao = document.getElementById("editDataDeEmissao")
var dataDeFinalizacao = document.getElementById("editdataDeFinalizacao")
var estadoServico = document.getElementById("editEstadoServico")
var funcionarioId = document.getElementById("editFuncionarioId")
var descricaoDoProblema = document.getElementById("editDescricaoDoProblema")
var textFinalizacao = document.getElementById("textFinalizacao")
var textValue = document.getElementById("textValue")
var estado2 = document.getElementsByClassName("estado2")
var textEstado = document.getElementById("textEstado")
var modalPosition = document.getElementById("modalEdit")
var AreaImgPosition = document.getElementById("AreaImg")
var textDescricao = document.getElementById("textDescricao")
var editDescricaoDoConcerto = document.getElementById("editDescricaoDoConcerto")

if(servicoEstado == 1){

    valorDoServico.style.display = "none";
    dataDeFinalizacao.style.display = "none";
    textFinalizacao.style.display = "none";
    textValue.style.display = "none";
    textEstado.textContent = "Estado do Serviço: Analise"
    AreaImgPosition.style.display = "none";
    modalPosition.style.top = "14%";
    textDescricao.style.display = "none";
    editDescricaoDoConcerto.style.display = "none";
    for (var i = 0; i < estado2.length; i++) {
        estado2[i].style.display = "none";
    }   
    dataDeFinalizacao.disabled = true;
    valorDoServico.disabled = true; 
    
}else if(servicoEstado == 2){
    textEstado.textContent = "Estado do Serviço:  Esperando Pagamento"

    valorDoServico.style.display = "block";
    dataDeFinalizacao.style.display = "block";
    textFinalizacao.style.display = "block";
    textValue.style.display = "block";
    modalPosition.style.top = "2%";
    textDescricao.style.display = "block";
    editDescricaoDoConcerto.style.display = "block";
    
    AreaImgPosition.style.flexDirection = "column";
    AreaImgPosition.style.justifyContent = "center";

    for (var i = 0; i < estado2.length; i++) {
        estado2[i].style.display = "block";
    }   
    dataDeFinalizacao.disabled = false;
    valorDoServico.disabled = false; 

}else if(servicoEstado == 3){
    textEstado.textContent = "Estado do Serviço: Em andamento"

    valorDoServico.style.display = "block";
    dataDeFinalizacao.style.display = "block";
    textFinalizacao.style.display = "block";
    textValue.style.display = "block";
    modalPosition.style.top = "2%";
    textDescricao.style.display = "block";
    editDescricaoDoConcerto.style.display = "block";
    
    AreaImgPosition.style.flexDirection = "column";
    AreaImgPosition.style.justifyContent = "center";
    for (var i = 0; i < estado2.length; i++) {
        estado2[i].style.display = "block";
    }   
    dataDeFinalizacao.disabled = false;
    valorDoServico.disabled = false; 


}else if(servicoEstado == 4){
    textEstado.textContent = "Estado do Serviço: Finalizado"

    valorDoServico.style.display = "block";
    dataDeFinalizacao.style.display = "block";
    textFinalizacao.style.display = "block";
    textValue.style.display = "block";
    modalPosition.style.top = "2%";
    textDescricao.style.display = "block";
    editDescricaoDoConcerto.style.display = "block";
  
    AreaImgPosition.style.flexDirection = "column";
    AreaImgPosition.style.justifyContent = "center";
    for (var i = 0; i < estado2.length; i++) {
        estado2[i].style.display = "block";
    }   
    dataDeFinalizacao.disabled = false;
    valorDoServico.disabled = false; 


}
}


// Função para abrir o modal
var openModalButtons = document.querySelectorAll(".botaoAbrirMenu");
var modal = document.getElementById("myModal");



openModalButtons.forEach(function(button) {
    button.onclick = function() {
    
    var servicos = /*[[${servicos}]]*/[];
    var idServico = button.getAttribute("id")  

    var editNomeDoEquipamento = document.getElementById("editNomeDoEquipamento")
    var editValorDoServico = document.getElementById("editValorDoServico")
    var editDataDeEmissao = document.getElementById("editDataDeEmissao")
    var editDataDeFinalizacao = document.getElementById("editdataDeFinalizacao")
    var editEstadoServico = document.getElementById("editEstadoServico")
    var editFuncionarioId = document.getElementById("editFuncionarioId")
    var editDescricaoDoProblema = document.getElementById("editDescricaoDoProblema")
    var editClienteId = document.getElementById("editClienteId")
    var editimagem = document.getElementById("preview-image")
    var editId = document.getElementById("id")
    var editDescricaoDoConcerto = document.getElementById("editDescricaoDoConcerto")
    // var editDescricaoDoProblema = document.getElementById("descricaoDoProblema");
 
    var estadoFinalServico = null;

    // Supondo que 'clientes' seja um array de objetos de cliente
        for (var i = 0; i < servicos.length; i++) {
            var servico = servicos[i];
            console.log(idServico);

            var formatDatedeEmisao = new Date(servico.dataDeEmissao);
            var formatDatedeFinalização = new Date(servico.dataDeFinalizacao);
            // Aqui, 'cliente' é um objeto que representa um cliente individual
            // Você pode acessar as propriedades do cliente, por exemplo:
            var id = servico.id;
            var nomeDoEquipamento = servico.nomeDoEquipamento;
            var valorDoServico  = servico.valorDoServico;
            var dataDeEmissao = formatDatedeEmisao.toISOString().split('T')[0];
            var dataDeFinalizacao = formatDatedeFinalização.toISOString().split('T')[0];
            var estadoServico = servico.estadoServico;
            var funcionarioId = servico.funcionarioId;
            var ClienteId = servico.clienteId;
            var descricaoDoProblema = servico.descricaoDoProblema;
            var descricaoDaTroca = servico.descricaoDaTroca;
            var base64imagem = servico.imagem;
            var imagem = "data:image/png;base64," + base64imagem; // Construir o URL da imagem

            console.log(id);
            // Decodifique a string Base64 para obter os bytes
            // Remova o "0x" da sequência hexadecimal
            

            if(idServico == servico.id){
                editId.value = servico.id;
                editNomeDoEquipamento.value = nomeDoEquipamento;
                editValorDoServico.value = valorDoServico;
                editDataDeEmissao.value = dataDeEmissao;
                editDataDeFinalizacao.value = dataDeFinalizacao;
                editimagem.src = imagem;
                editEstadoServico.value = estadoServico;
                editFuncionarioId.value = funcionarioId;
                editClienteId.value = ClienteId;
                editDescricaoDoProblema.value = descricaoDoProblema;
                if(descricaoDaTroca != null){
                editDescricaoDoConcerto.value = descricaoDaTroca;
                }
                estadoFinalServico =estadoServico;
                //editDescricaoDoProblema.value = descricaoDoProblema;
        
                
                
            }
            // Faça o que você precisa com os dados do cliente dentro do loop
            //console.log(`Nome: ${nome}, Email: ${email}, CPF: ${cpf}`);
           
            //console.log(cliente);
            //console.log(cliente.uF);
            //console.log(DataDeNasc);
            //console.log(cliente.dataDeNasc);

            
            
        }
    // Faça uma solicitação AJAX para buscar informações do cliente com o ID
    estado(estadoFinalServico);
    modal.style.display = "block";
    console.log(ClienteId)   
    console.log("a")    

    
    }

    
});


function showFileName(input) {
    const label = document.querySelector('label[for="Imagem"]');
    const previewImage = document.getElementById('preview-image');
    const AreaInseriImage = document.getElementById('AreaImg')
    const ApagarImagem = document.getElementById('remover-imagem')
    const inputImagem = document.getElementById('imagem');
    const preview = document.getElementById("preview");
    
    console.log(inputImagem.value);

    if (input.files && input.files[0]) {
        const reader = new FileReader();

        reader.onload = function(e) {
            previewImage.src = e.target.result;
           
            previewImage.style.display = 'flex';
            ApagarImagem.style.display = 'block';
            AreaInseriImage.style.display = 'none';
            preview.style.display = 'flex';
            
        };

        reader.readAsDataURL(input.files[0]);
        
       
    } else {
        label.textContent = 'Arraste uma imagem ou clique aqui para fazer upload';
        previewImage.style.display = 'none';

    }

   
}

// Função para remover a imagem e redefinir o input de arquivo
function removerImagem() {
    const previewImage = document.getElementById('preview-image');
    const AreaInseriImage = document.getElementById('AreaImg');
    const inputImagem = document.getElementById('imagem');
    const ApagarImagem = document.getElementById('remover-imagem')
    const preview = document.getElementById("preview")

    previewImage.src = '';
    previewImage.style.display = 'none';
    AreaInseriImage.style.display = 'flex';
    ApagarImagem.style.display = 'none';
    preview.style.display = 'none';
    inputImagem.value = ''; // Limpar o valor do input de arquivo
}


// Associar a função ao botão de remoção
document.getElementById('remover-imagem').addEventListener('click', removerImagem);
const Imagem = document.getElementById('imagem');


     // Função para fechar o modal
document.getElementById("closeModalButton").onclick = function() {
    modal.style.display = "none";
}

// Função para cancelar
document.getElementById("cancelButton").onclick = function() {
    modal.style.display = "none";
}

// Função para salvar (você pode adicionar a lógica de salvamento aqui)
document.getElementById("saveButton").onclick = function() {
    // Adicione sua lógica de salvamento aqui
    modal.style.display = "none";
}


var modalContent = document.querySelector(".modal-content");

// Quando o usuário clicar fora do modal, feche-o
modal.addEventListener("click", function(event) {
    if (event.target === modal) {
        modal.style.display = "none";
    }
});


</script>
    
</body>
</html>




