<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificação - Análise</title>
    <link href="/styles/especificações_analise.css" rel="stylesheet" />
</head>
<body>
 <div class="header" id="header">
        <div style="top: 4px;position: relative;" class="logo_header">
            <img src="/images/brain.png" class="img_brain" alt="Logo BrainWave">
        </div>
    
            <div class="navigation_header">
             <form action="Servicos_andamento" method="get">
       	 	<button class="butaoCabecalho"> <a class="navigation_header">voltar</a> </button>
        	</form>
        	<form action="login" method="get">
       		<button class="butaoCabecalho"><a class="navigation_header">Sair</a></button>
       	 	</form>
            </div>
    </div>

<div class="container">
    <div class="usuario">
        <img src="/images/usuario.png" class="icon_user" alt="">
        <h3>Juninho</h3>
        <h5>Técnico de Manutenção</h5>   
    </div>
    
    <div class="especificação">
        <h1>Especificação - Análise</h1>
        <div class="manutenção" id="manutenção">
            <div class="informacoes">
                <h5><strong>Manutenção de Celular</strong></h5>
                <h5>Tela quebrada <br> Touch não pega</h5>
                <h5>Aparelho: Xiaomi mi5</h5>
                <h5>Data do Requerimento: <br> 01/03/2023</h5>
                <h5>Prazo de entrega estimado: <br> 10/03/2023</h5>
                <h5>Inf. Para contato com cliente: <br> email: user12345@gmail.com <br> 11-99123-1234</h5>
                    <div class="botoes">
                        <button class="negar" id="negar"><img src="images/btn_negar.png" class="img_negar" alt=""></button>
                        <button class="aceitar" id="aceitar"><img src="images/btn_aceitar.png" class="img_aceitar" alt=""></button>
                    </div>
            </div>


                <div class="imagens">
                    <div class="img_celular">
                        <img src="images/celular_quebrado.png" class="celular_quebrado" alt="celular_quebrado">
                    </div>
                    
                    <div class="botao_chat">
                        <a href="#"><img src="images/chat.png" class="chat_btn" /></a>
                    </div>
                </div>
        </div>
    </div>

    <dialog id="#dialog1" class="#dialog1" >
        <a href="serviços_previa.html"><button class="fechar">X</button></a>
        <img src="images/aprovado.png" alt="Aprovado">
        <h2>Serviço Aprovado</h2>
    </dialog>

    <dialog id="dialog2" class="dialog2">
        <a href="serviços_previa.html"><button class="fechar" id="fechar">X</button></a>
        <img src="images/negar.png" alt="Reprovado">
        <h2>Serviço Negado</h2>
    </dialog>

</div>

    <script src="scripts/especificações_analise.js"></script>

</body>
</html>