<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificação - Análise</title>
    <link href="/styles/especificações_analise.css" rel="stylesheet" />
</head>
<body>
    <div class="header" id="header">
        <div style="position: relative;" class="logo_header">
            <a th:href="@{tela_inicial}" class="navigation_header"> <img src="/images/brain.png" class="img_brain" alt="Logo BrainWave"></a>
        </div>
    
        <div class="navigation_header" style="height: 100%;">
            <form action="ServicoInf" method="get" style="height: 100%;display: flex;align-items: center;">
       	 	<button class="butaoCabecalho"> <a class="navigation_header">voltar</a> </button>
        	</form>
        	<form action="login" method="get" style="height: 100%;display: flex;align-items: center;">
       		<button class="butaoCabecalho"><a class="navigation_header">Sair</a></button>
       	 	</form>
        </div>
</div>

<div class="container">
    <div class="usuario">
        <img src="/images/usuario.png" class="icon_user" alt="">
        <h3>Juninho</h3>
        <h5>Técnico de Manutenção</h5>   
    </div>
    
    <div class="especificação">
        <h1>Especificação - Análise</h1>
        <div class="manutenção" id="manutenção">
            <div class="informacoes">
                <h5><strong>Manutenção</strong></h5>
                <h5 th:text="${Service.nomeDoEquipamento}"></h5>
                <h5 th:text="${Service.descricaoDoProblema}"></h5>
                <h5 th:text="'Data de requerimento: ' + ${#dates.format(Service.dataDeEmissao, 'dd/MM/yyyy')}"></h5>
                <h5 id="DataEntrega"></h5>
                
                <h5>Inf. Para contato com cliente: <br> email: user12345@gmail.com <br> 11-99123-1234</h5>
                <div class="botoes">
                    
                        <button class="botaoAbrirMenu" th:id="${Service.id}" ><img src="/images/sifrao_img.png" class="img_aceitar" alt=""></button>
                    </form>
                </div>
            </div>


                <div class="imagens">
                    <div class="img_celular">
                       
                        <img th:src="${Service.imagemBase64}" class="celular_quebrado" alt="celular_quebrado" width="100%" height="100%">
                        
                    </div>
                    
                    
                </div>
        </div>
    </div>

    

</div>

<div id="myModal" class="modal">

    <div class="modal-content">

        <span class="close-button" id="closeModalButton">&times;</span>

        <div  class="modal-title"><p id="textEstado"> Orçamento  </p> </div>

            <form th:action="@{/api/v1/ServicoInf}"  th:object="${servicoForm}" method="post" >  

                <div class="input-area">

                        <div class="credenciais">

                            <div class="lado1">
                                
                                <input type="number" id="id" name="id" th:field="*{id}"    placeholder="Nome de usuário"  style="display: none;" required>

                                <p class="textUpadte">Descrição da troca: </p>
                                <textarea id="editDescricaoDaTroca" name="DescricaoDaTroca" th:field="*{descricaoDaTroca}" placeholder="Descrição" class="alinhaDescricao campoDeFormulario" required rows="6" cols="75" style="height: 160px;width: 100%;padding: 0px 10px;"  ></textarea><br>
                        
                                <p class="textUpadte">Valor do Serviço: </p>
                                <input type="number" id="valorDoServico" name="valorDoServico" th:field="*{valorDoServico}" placeholder="Valor do Serviço:" class="campoDeFormulario" style="  width: 100%;" required><br>
                                
                                <input type="number" id="editEstadoServico" name="estadoServico" th:field="*{estadoServico}"    placeholder="Nome de usuário"  style="display: none;" required>

                            
                            </div> 
                            
                    
                    </div>
                    
                </div>

                <div class="button-area">
                    <button id="cancelButton" type="button">Cancelar</button>
                    <button id="saveButton" type="submit">Orçar</button>
                </div>

        </form>

    </div>
    
</div>



</body>


<script th:inline="javascript">

// Função para abrir o modal
var openModalButtons = document.querySelectorAll(".botaoAbrirMenu");
var modal = document.getElementById("myModal");



openModalButtons.forEach(function(button) {
    button.onclick = function() {
    var estadoServico = document.getElementById("editEstadoServico");

    estadoServico.value = 2
    modal.style.display = "block";
    console.log("a")    
    }

   
});





     // Função para fechar o modal
document.getElementById("closeModalButton").onclick = function() {
    modal.style.display = "none";
}

// Função para cancelar
document.getElementById("cancelButton").onclick = function() {
    modal.style.display = "none";
}

// Função para salvar (você pode adicionar a lógica de salvamento aqui)
document.getElementById("saveButton").onclick = function() {
    // Adicione sua lógica de salvamento aqui
    modal.style.display = "none";
}


var modalContent = document.querySelector(".modal-content");

// Quando o usuário clicar fora do modal, feche-o
modal.addEventListener("click", function(event) {
    if (event.target === modal) {
        modal.style.display = "none";
    }
});


    function adicionarDiasUteis(data, numeroDias) {
        var novaData = new Date(data.getTime());
    
        while (numeroDias > 0) {
            novaData.setDate(novaData.getDate() + 1); // Adiciona um dia à data
    
            // Verifique se o dia é um dia útil (não é sábado nem domingo)
            if (novaData.getDay() !== 0 && novaData.getDay() !== 6) {
                numeroDias--;
            }
        }
    
        return novaData;
    }

    function redezinhaInformacoes(){
    var id = document.getElementById("id")    
    var servicoAnalise = /*[[${Service}]]*/;
    
    var dataDeEmissao = new Date(servicoAnalise.dataDeEmissao);
    
    // Adicione 5 dias úteis à data
    var dataComCincoDiasUteis = adicionarDiasUteis(dataDeEmissao, 5);
    
    // Formate a data em 'dd/MM/yyyy'
    var dia = dataComCincoDiasUteis.getDate();
    var mes = dataComCincoDiasUteis.getMonth() + 1;
    var ano = dataComCincoDiasUteis.getFullYear();
    
    var dataFormatada = `${dia}/${mes}/${ano}`;
    
    console.log('Data Formatada: ' + dataFormatada);
    
    var dataEntrega = document.getElementById("DataEntrega");
    dataEntrega.textContent = "Prazo Estimado de entrega: " + dataFormatada;
    id.value = servicoAnalise.id;
    }
    redezinhaInformacoes()
    
    </script>
</html>