<!DOCTYPE html>
<html lang="pt-br">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/login.css" rel="stylesheet" />

    <title></title>
</head>
<body>
    <div id="principal">

        <div id="left">
            <img src="/images/img-login.jpg" />
        </div>
    
        <div id="form">
            <div class="assistence">
                    <h1>Techinical Assistence</h1>
            </div> 
            <p th:text="${aviso}"></p>
       		<form method="post">
			
			<input type="user" value=""  name="email" valueclass="user" placeholder="Insira seu email" />
            <input type="text" value="" name="senha" class="senha" placeholder="Senha" />
            <br />
			<button type="submit" class="btn_login">Login</button>
            </form>
             
           	<a href="serviços_previa.html"></a>

            <div class="direcionamento">
				<form action="CadastrarFuncionario" method="get">
                <button type="submit" >Cadastrar Novo User</button>
				</form>            
            </div>
           

        </div>
    </div>
</body>
</html>