<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento</title>
    <link href="/styles/orçamento.css" rel="stylesheet" />
</head>
<body>
<div class="header" id="header">
    <div class="logo_header">
        <img src="/images/brain.png" class="img_brain" alt="Logo BrainWave">
    </div>

        <div class="navigation_header">
            <a href="serviços_previa.html">Usúario</a>
            <!--<a href="#">Notificações</a>-->
            <a href="login.html">Sair</a>
        </div>
</div>

    <div class="container">
        <h1>ORÇAMENTO</h1>
        <div class="div_orcamento">                
                <div class="lado_esquerdo">
                        <div class="conjunto1">
                            <h2>Peças Utilizadas</h2>
                            <textarea name="" id="" class="pecas_usadas" cols="30" rows="10"></textarea>
                        </div>
                        
                            <div class="conjunto2">
                                <h2>Orçamento Final</h2>
                                <input type="number" class="valor_orcamento" name="" id="">
                            </div>
                    </div>   
            
                    <div class="lado_direito">
                        <div class="conjunto3">
                            <h2>Descrção da Troca</h2>
                            <textarea name="" id="" class="pecas_usadas" cols="30" rows="10"></textarea>
                        </div>
                        
                            <div class="conjunto4">
                                <h2>Enviar Orçamento</h2>
                                <a href="serviços_previa.html"><button class="btn_enviar"><strong>Enviar Orçamento</strong></button></a>
                            </div>   
                    </div>
        </div>
    </div>  
</body>
</html> 