@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&family=Roboto:wght@300;400;700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    background-color: rgb(243, 243, 243);
}

.img_brain{
    width: 120px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #6f6f6f;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.header_fixo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.navigation_header{
    gap: 2.7em;
}

.navigation_header a{
    text-decoration: none;
    color: #58A0E2;
    transition: 0.8s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: rgb(56, 56, 56);
}

.content {
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}

.container{

}

.titulo{
    background-color: /*yellow*/;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.txt1{

    margin-right: 20px;
    font-weight: bold;
    color: #5A9EDF;
}

.txt2{
    font-weight: normal;
    color: #158EFF;
}


.credenciais{
    width: 100%;
    height: 65vh;
    background-color: /*red*/;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lado1{
    width: 45%;
    height: 98%;
    background-color: /*white*/;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
}

.lado2{
    width: 45%;
    height: 98%;
    background-color: /*white*/;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
}

input{
    width: 400px;
    height: 50px;
    border: none;
    background-color: #BBD6F1;
    border-radius: 3px;
    border: none;
    outline: 0;
}

input::placeholder{
    padding: 10px;
}

.div_botao{
    width: 100%;
    height: 11vh;
    background-color: /*blue*/;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-size: 22px;
    letter-spacing: 0.7px;
    border: none;
    background-color: #72AAE3;
    color: black;
    transition: 0.6s;
    cursor: pointer;
}

button:hover{
    background-color: #048ABF;
    color: #8DD5F2;
}


