@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&family=Roboto:wght@300;400;700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    background-color: rgb(243, 243, 243);
}

.img_brain{
    width: 120px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #6f6f6f;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.header_fixo{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.navigation_header{
    gap: 2.7em;
}

.navigation_header a{
    text-decoration: none;
    color: #58A0E2;
    transition: 0.8s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: rgb(56, 56, 56);
}

.content {
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}



.titulo{
    
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

.txt1{

    margin-right: 20px;
    font-weight: bold;
    color: #5A9EDF;
}

.txt2{
    font-weight: normal;
    color: #158EFF;
}


.credenciais{
    width: 100%;
    margin-top: 3vw;
   
    display: flex;
    justify-content: space-evenly;

}

.lado1{
    
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
  
}

.lado2{
  
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

input{
    width: 400px;
    height: 50px;
    border: none;
    background-color: #BBD6F1;
    border-radius: 3px;
    border: none;
    outline: 0;
}

input::placeholder{
    padding: 10px;
}

.div_botao{
    width: 100%;
    height: 11vh;
    margin-top: 2%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-size: 22px;
    letter-spacing: 0.7px;
    border: none;
    background-color: #72AAE3;
    color: black;
    transition: 0.6s;
    cursor: pointer;
}

.button:hover{
    background-color: #048ABF;
    color: #8DD5F2;
}

.campoDeFormulario {  
    padding: 0px 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 60px;
    background-color: #BBD6F1;
    border-radius: 3px;
    border: none;
    outline: 0;
}

.file-upload {
    position: relative;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 100px 60px 100px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px dashed #aaa;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #ddd;
}


.file-preview {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    overflow: hidden;
}



.alinhaDescricao{
 
    width: 500px;
    height: 150px;
    padding: 0px;

}

.upload-area {
    text-align: center;
    padding: 20px;
    border: 2px dashed #ccc;
    cursor: pointer;
}

#preview {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#preview img {
    max-width: 100%;
    max-height: 200px;
}

.remove-symbol {
    color: red; /* Define a cor vermelha */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 50px; /* Ajuste o tamanho da fonte conforme necessário */
}

.remove-symbol:hover {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.butaoCabecalho{
    background:none;
    border:0px;
    cursor: pointer;
    text-align: center;
  
}