@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F1F2F4;
    font-family: 'Poppins';
}

#principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#left {
    display: flex;
    align-items: center;
}

#left img {
    width:50;
    height: 100vh;
}

#form {                                                                                                                                         
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
}

#form a {
    color: black;
}

#form input {
    width: 450px;
    height: 60px;
    margin-bottom: 10px;
    background-color: #DCDCDC;
    border: 1px #f9f9f9;
    border-radius: 3.14px;
    padding: 0px 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.btn_login{
    min-width: 120px;
    background-color: cornflowerblue;
    color: white;
    border: 1px #d9d9d9;
    border-radius: 3.14px;
    margin: 10px 0px 20px 0px;
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    
}

.btn_login:hover{
    text-shadow: #6f6f6f;
    background-color: #04f000;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

#form img {
    max-width: 40px;
    margin-right: 10px;
}

.assistence{
    color: #4F5956; 
    padding: 50px;  
    text-align: center;
    
}

.user::placeholder{
    color: black;
}

.senha::placeholder{
    color: black;
}

.direcionamento{
  
    width: 37vw;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 18px;
    color: red;
}

.btn_cadastrar{
    background: cornflowerblue;
    color: white;
    border: 1px #d9d9d9;
    border-radius: 3.14px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    padding: 8px 30px;
}

.btn_cadastrar:hover{
    text-shadow: #6f6f6f;
    background-color: #04f000;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.linha{
    width: 100%;
    color:red;
    size: 2;
}

.alinBtnCadastrar{

    display: flex;
    justify-content: space-around;

}

