@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    background-color: #D9D9D9;
}

.img_brain{
    width: 120px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #6f6f6f;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header{
    gap: 2.7em;
}

.navigation_header a{
    text-decoration: none;
    color: #58A0E2;
    transition: 0.8s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: rgb(56, 56, 56);
}

.content {
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}

.container{
    padding: 3.5rem;
    display: flex;
    justify-content:space-around;
}

.usuario{
    width: 245px;
    height: 270px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    border-radius: 5px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
    
}

.icon_user{
    width: 90px;
    height: 90px;
}

.geral{
    display: flex;
    flex-direction: column;
}

.analise{
    width: 800px;
    height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.titulo1{
    display: flex;
    justify-content: space-evenly ;
    align-items: end;
    gap: 600px; 
}

.andamento{
    width: 800px;
    height: 280px;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.titulo2{
    display: flex;
    justify-content: space-evenly ;
    align-items: end;
    gap: 480px; 
}

.seta_direita{
    width: 40px;
    height: 40px;
}

.info_analise{
    margin-top: 6px;
    width: 90%;
    height: 73%;
    background-color: #D9D9D9;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    
}

.imagem_analise{
    width: 30%;
    height: 100%;
    background-color: /*red*/;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_celular{
    width: 150px;
    height: 150px;
}

.info_andamento{
    margin-top: 6px;
    width: 90%;
    height: 73%;
    background-color: #D9D9D9;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.imagem_andamento{
    width: 30%;
    height: 100%;
    background-color: /*red*/;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_note{
    width: 150px;
    height: 150px;
}

.textos_analise{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 6px;
}

.textos_andamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 6px;
}




